.venv/
__pycache__/
*.pyc
exploitdb.json

# SQLite database files
*.db
*.sqlite
*.sqlite3
backend/core/data/nvd.db

.pytest_cache/
node_modules/
.history/
backend/core/data/

frontend/.next/
raza frontend/.next/